<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="CollegeManagementSystem.Properties.Settings.CollegeConnectionString"
            connectionString="Data Source=Himanshu-PC;Initial Catalog=College;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
		<add name="CollegeManagementSystem.Properties.Settings.CollegeConnectionString"
            connectionString="Data Source=DESKTOP-FDLG94H;Initial Catalog=College;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>